{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  juxt.edge/lib.app {:local/root "../lib/edge.app"}

  yada/yada {:mvn/version "1.4.0-alpha1"}
  juxt.edge/yada.ig {:local/root "../lib/edge.ig.yada"}
  juxt.edge/bidi.ig {:local/root "../lib/edge.ig.bidi"}
  integrant/integrant {:mvn/version "0.7.0"}

  org.clojure/tools.logging {:mvn/version "0.5.0-alpha"}
  cheshire/cheshire {:mvn/version "5.10.2"}
  clj-http/clj-http {:mvn/version "3.12.3"}
  reagent/reagent {:mvn/version "1.1.1"}
  cljsjs/react {:mvn/version "17.0.2-0"}
  cljsjs/react-dom {:mvn/version "17.0.2-0"}
  cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
  hanami/hanami {:mvn/version "0.1.0"}
  gyptis/gyptis {:mvn/version "0.2.2"}
  enfocus/enfocus {:mvn/version "2.1.1"}
  b1/b1 {:mvn/version "0.3.3"}
  com.stuartsierra/frequencies {:mvn/version "0.1.0"}}

 :aliases
 {:test {:extra-paths ["test"]}
  :dev
  {:extra-paths ["dev"]
   :extra-deps
   {juxt.edge/lib.app.dev {:local/root "../lib/edge.app.dev"}}}

  :prod
  {:extra-deps
   {juxt.edge/lib.app.prod {:local/root "../lib/edge.app.prod"}}}

  :build {:extra-deps
          {juxt.edge/kick {:local/root "../lib/edge.kick"}
           juxt/kick.alpha
           {:git/url "https://github.com/juxt/kick.alpha.git"
            :sha "e552e314750b4c5f337fe44849d92725877dffb0"}
           org.clojure/clojurescript {:mvn/version "1.10.238"}
           com.bhauman/figwheel-main {:mvn/version "0.2.0"}
           deraen/sass4clj {:mvn/version "0.3.1"}}}

  :build/once {:main-opts ["-m" "edge.kick"]}

  :dev/build
  {:extra-paths ["target/dev"]}

  :prod/build
  {:extra-paths ["target/prod"]}}}
